<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmls:th="http//thymeleaf.org">
    <head>
        <Title>Project Stages</Title>
        <meta charset="utf-8">
        <meta name="author" content="Affonso Ruiz, Alie Alves, Carlos Felipe, Joyce Brandão">
        <meta name="description" content="Site de organiação de criação de projetos">
        <meta name="keywords" content="Organização, Criação, Projetos, Desenvolvimentos">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <link rel=stylesheet type="text/css" href="CSS/style_home.css" media="screen">
        <link rel=stylesheet type="text/css" href="Bootstrap/css/bootstrap.min.css">
        <link rel="shortcut icon" href="img/LOGO-OFFICIAL-200x200%20cortada.png"> 
        <script src="Bootstrap/js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    </head>
    <body class="principal">
         <header class="hero">
            <nav>
                <img src="img/Logo-com-nome%20150.png" alt="Logo do site Project Stages ">
            <form action="" class="caixa">
                <input type=search name="pesquisa" size="50" placeholder="Pesquisa" id="pesquisa">
                <button type="submit" id="botao"><img src="img/lupa02.png"></button>
             </form>
            </nav>
        </header>
        
        
        <section class="menu">
            <nav>
                <a href="home.html" class="active">HOME</a>
                <a href="#">Cronogramas</a>
                <a href="#">Driver</a>
                <a href="#">Chat</a>
            </nav>
        </section>
        
        <main>
            <h1 id="msg">Seja Bem-Vindo</h1>
        </main>
        
        <script src="JS/JS_cadastro.js" type="text/javascript"></script>
    </body>
</html>
