<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmls:th="http//thymeleaf.org">
    <head>
        <title>Project Stages</title>
        <meta charset="utf-8">
        <meta name="author" content="Affonso Ruiz, Aline Alves, Carlos Felipe, Joyce Brandão">
        <meta name="description" content="Perfil usuario">
        <meta name="keywords" content="Cadastro">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <link rel=stylesheet type="text/css" href="CSS/normalize.css">
        <link rel="stylesheet" type="text/css" href="CSS/style_perfil.css" media="screen">
        <link rel="shortcut icon" href="img/LOGO-OFFICIAL-200x200%20cortada.png">
        <link rel=stylesheet type="text/css" href="Bootstrap/css/bootstrap.min.css">
        <script src="Bootstrap/js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    </head>
    <body class="principal">
       <header class="gallery">
           <section class="botao">
           <div class="foto">
              <nav id="cont"><img src="img/avatar.jfif" id="imagem"></nav>
           </div>
           <input type="file" id="file" accept="image/png image/jpe image/jpg" hidden="hidden">
           <button type="button" id="btnfile">Escolher foto</button>
           </section>
        </header>
        <main>
            <section class="informacao">
               <table>
                   <tr>
                       <td>Nome Completo:</td>
                       <td></td>
                   </tr>
                   
                   <tr>
                       <td>Nome de Usuario:</td>
                       <td></td>
                   </tr>
                   
                    <tr>
                       <td>Email:</td>
                       <td></td>
                   </tr>
                   
                    <tr>
                       <td>Localização:</td>
                       <td></td>
                   </tr>
                   
                   <tr>
                       <td>Contato:</td>
                       <td></td>
                   </tr>
                   
                     <tr>
                       <td>Descrição:</td>
                       <td></td>
                   </tr>
                   
               </table>
            </section>
            
            <section class="update">
            <button type="button" id="btnUpdate">Atualizar Informações</button>
            </section>
        </main>
        <script src="JS/JS_perfil.js" type="text/javascript"></script>
    </body>
</html>